Zlepper.RimWorld.ModSdk.Tests/Snapshots/DefToSchemaConverterTests.CreateSchema.verified.xml

<xs:schema elementFormDefault="qualified" targetNamespace="rimworld" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Defs">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="BackstoryDef" type="BackstoryDef" />
        <xs:element name="BodyTypeDef" type="BodyTypeDef" />
        <xs:element name="Def" type="Def" />
        <xs:element name="DefWithWorkerClass" type="DefWithWorkerClass" />
        <xs:element name="InteractionDef" type="InteractionDef" />
        <xs:element name="SkillDef" type="SkillDef" />
        <xs:element name="ThingDef" type="ThingDef" />
        <xs:element name="WorkTypeDef" type="WorkTypeDef" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BackstoryDef">
    <xs:complexContent>
      <xs:extension base="Def">
        <xs:all>
          <xs:element minOccurs="0" name="selectionWeight" type="xs:string" />
          <xs:element minOccurs="0" name="skillGains">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="li">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" type="SkillDef.Enumeration" />
                      <xs:element name="value" type="xs:int" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BodyTypeDef">
    <xs:complexContent>
      <xs:extension base="Def">
        <xs:all>
          <xs:element minOccurs="0" name="woundAnchors">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="li" type="WoundAnchor" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompProperties">
    <xs:all>
      <xs:element minOccurs="0" name="AnotherValue" type="xs:int" />
      <xs:element minOccurs="0" name="compClass" type="xs:string" />
      <xs:element minOccurs="0" name="SomeValue" type="xs:string" />
    </xs:all>
    <xs:attribute name="Class" type="CompProperties.SubTypes" />
  </xs:complexType>
  <xs:complexType name="CompProperties_Foo">
    <xs:complexContent>
      <xs:extension base="CompProperties">
        <xs:all>
          <xs:element minOccurs="0" name="AnotherValue" type="xs:int" />
          <xs:element minOccurs="0" name="SomeValue" type="xs:string" />
        </xs:all>
        <xs:attribute name="Class" type="CompProperties_Foo.SubTypes" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CompProperties_Foo.SubTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CompProperties_FooFoo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CompProperties_FooFoo">
    <xs:complexContent>
      <xs:extension base="CompProperties_Foo">
        <xs:all>
          <xs:element minOccurs="0" name="AnotherValue" type="xs:int" />
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CompProperties.SubTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CompProperties_Foo" />
      <xs:enumeration value="CompProperties_FooFoo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Def">
    <xs:all>
      <xs:element minOccurs="0" name="defName" type="defName">
        <xs:annotation>
          <xs:documentation>The name of this Def. It is used as an identifier by the game code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="label" type="defLabel">
        <xs:annotation>
          <xs:documentation>A human-readable label used to identify this in game.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="testField" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="defLabel">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^\[\]\{\}]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="defName">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9\-_]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DefWithWorkerClass">
    <xs:complexContent>
      <xs:extension base="Def">
        <xs:all>
          <xs:element minOccurs="0" name="workerClass" type="xs:string" />
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InteractionDef">
    <xs:complexContent>
      <xs:extension base="Def">
        <xs:all>
          <xs:element minOccurs="0" name="details" type="InteractionDetails" />
          <xs:element minOccurs="0" name="socialFightBaseChance" type="xs:float" />
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="InteractionDef.Enumeration">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:complexType name="InteractionDetails">
    <xs:all>
      <xs:element minOccurs="0" name="doubleDetails" type="xs:double" />
      <xs:element minOccurs="0" name="stringDetails" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="SkillDef">
    <xs:complexContent>
      <xs:extension base="Def">
        <xs:all>
          <xs:element minOccurs="0" name="disablingWorkTags">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="li">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="ManualDumb" />
                      <xs:enumeration value="ManualSkilled" />
                      <xs:enumeration value="None" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="lessonInteraction" type="InteractionDef.Enumeration" />
          <xs:element minOccurs="0" name="pawnCreatorSummaryVisible" type="xs:boolean" />
          <xs:element minOccurs="0" name="skillLabel" type="xs:string" />
          <xs:element minOccurs="0" name="usuallyDefinedInBackstories" type="xs:boolean" />
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SkillDef.Enumeration">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MySkill" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StatModifier">
    <xs:all>
      <xs:element minOccurs="0" name="MySkill" type="xs:float" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ThingDef">
    <xs:complexContent>
      <xs:extension base="Def">
        <xs:all>
          <xs:element minOccurs="0" name="comps">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="li" type="CompProperties" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WorkTypeDef">
    <xs:complexContent>
      <xs:extension base="Def">
        <xs:all>
          <xs:element minOccurs="0" name="intField" type="xs:int" />
          <xs:element minOccurs="0" name="relevantSkills">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="li" type="SkillDef.Enumeration" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="statModifier" type="StatModifier" />
          <xs:element minOccurs="0" name="workTags">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="li">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="ManualDumb" />
                      <xs:enumeration value="ManualSkilled" />
                      <xs:enumeration value="None" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WoundAnchor">
    <xs:all>
      <xs:element minOccurs="0" name="tag" type="xs:string" />
    </xs:all>
  </xs:complexType>
</xs:schema>